.Genres{
    height: 150px;
    background: rgba(239, 50, 50, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.eachGenre{
    width: 200px;
}

.btn{
    border: 1px solid black;
    background: rgba(193, 9, 9, 0.75);
    color: white;
    border-radius: 5px;
    margin-left: 15px;
}

.btns{
    width: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}