.Genres{
    height: 150px;
    background: rgba(115, 110, 238, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.eachGenre{
    width: 200px;
}

.btn{
    border: 1px solid black;
    background: rgba(51, 153, 137, 0.68);
    color: black;
    border-radius: 5px;
    margin-left: 15px;
}

.btns{
    width: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}