.Header{
    height: 50px;
    background: rgba(239, 50, 50, 0.75);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.darkMode{
    height: 25px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background: rgba(19, 2, 2, 0.51);
}
