.Header{
    height: 50px;
    background: rgb(194, 187, 240);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.darkMode{
    height: 30px;
    width: 30px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    background: rgba(51, 153, 137, 0.68);
}


.genre_btn{
    height: 25px;
    margin: 10px;
    border: 1px solid black;
    background: rgba(51, 153, 137, 0.68);
    color: black;
    border-radius: 5px;
}