.movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.eachMovie{
    width: 200px;
    height: 450px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.movieInfo{
    display: flex;
    flex-direction: column;
}

.input{
    height: 20px;
    width: 700px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgba(227, 224, 224, 0.68);
    color: black;
}