.movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.eachMovie{
    width: 250px;
    height: 500px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.movieInfo{
    display: flex;
    flex-direction: column;
}

.text{
    margin: 10px;
}

.input{
    height: 20px;
    width: 700px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgba(227, 224, 224, 0.68);
    color: black;
    margin: 15px;
}

.links{
    outline: none;
    text-decoration: none;
    color: #27b6b6;
}

.badget{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.eachBadget{
    width: 100px;
    margin: 2px;
    background: rgba(61, 65, 75, 0.33);
    border: 1px solid rgba(0, 0, 0, 0.67);
    border-radius: 5px;
    color: white;
}